## Squad Matching Algorithm

#### Import all required libraries

In [1]:
import pandas as pd
import numpy as np

#### Load Dataset

In [2]:
df = pd.read_csv("SquadData.csv",header=None)

In [3]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,Name,Squad Number,Do you have any preferred language of communic...,What Group Virtual Internship Program are you ...,Age,City,Country,Region,Time Zone,current occupation?,...,Product Design,Product Development,Growth Marketing,Leading groups,Where did you hear about this internship?,Which cohorts are you available to start the P...,Which cohorts are you available to start the P...,Which cohorts are you available to start the P...,Which cohorts are you available to start the P...,How many hours per week are you able to give t...
1,Grayson,NaN,i prefer english but i am also able to communi...,"Product Marketing,Product Growth",23,bordj bou arreridj,Algeria,MENA,"Europe,Africa",Recently Graduated and Unemployed,...,NaN,NaN,4,NaN,linkedin,"Starting on 15th August,Starting on 22nd August",NaN,NaN,Starting on 5th September,20-25 hours
2,Jonas,NaN,English,"Product Marketing,Product Growth ,Product Design",23,Algiers,Algeria,MENA,"Africa,Europe",Recently Graduated and Unemployed,...,3,NaN,4,4,Linkedin,"Starting on 12th September,Starting on 15th Au...","Starting on 3rd October,Starting on 22nd August",NaN,Starting on 3rd October,10-15 hours
3,Ronan,NaN,English and Spanish are good for me.,Product Design,34,"Buenos Aires, Argentina",Argentina,Americas,Americas,Employed,...,4,NaN,NaN,5,A friend told me about it.,NaN,Starting on 22nd August,NaN,NaN,15-20 hours
4,Dulce,NaN,spanish,Product Design,38,Mendoza,Argentina,Americas,Americas,Employed,...,3,NaN,NaN,4,Linkedin,NaN,Starting on 22nd August,NaN,NaN,20-25 hours

In [4]:
headers = ["Name","Squad_Num","Prefered_Lang","Interested_Grp","Age","City","Country","Region","Timezone",
          "Occupation","Degree","Prev_Took_Courses","Intern_Experience","Product_Management","Digital_Marketing",
          "Market_Research","Digital_Illustration","Product_Design","Prodcut_Developement","Growth_Marketing",
          "Leading_Groups","Internship_News","Cohort_Product_Marketing","Cohort_Product_Design",
          "Cohort_Product_Development","Cohort_Product_Growth","Hours_Per_Week"]

In [5]:
df = df.drop(index=0)

In [6]:
df.reset_index(drop=True,inplace=True)

In [7]:
df.columns = headers

In [8]:
abc_str = ['English','Hindi','Espanyol']

In [9]:
df.head(10)

,Name,Squad_Num,Prefered_Lang,Interested_Grp,Age,City,Country,Region,Timezone,Occupation,...,Product_Design,Prodcut_Developement,Growth_Marketing,Leading_Groups,Internship_News,Cohort_Product_Marketing,Cohort_Product_Design,Cohort_Product_Development,Cohort_Product_Growth,Hours_Per_Week
0,Grayson,NaN,i prefer english but i am also able to communi...,"Product Marketing,Product Growth",23,bordj bou arreridj,Algeria,MENA,"Europe,Africa",Recently Graduated and Unemployed,...,NaN,NaN,4,NaN,linkedin,"Starting on 15th August,Starting on 22nd August",NaN,NaN,Starting on 5th September,20-25 hours
1,Jonas,NaN,English,"Product Marketing,Product Growth ,Product Design",23,Algiers,Algeria,MENA,"Africa,Europe",Recently Graduated and Unemployed,...,3,NaN,4,4,Linkedin,"Starting on 12th September,Starting on 15th Au...","Starting on 3rd October,Starting on 22nd August",NaN,Starting on 3rd October,10-15 hours
2,Ronan,NaN,English and Spanish are good for me.,Product Design,34,"Buenos Aires, Argentina",Argentina,Americas,Americas,Employed,...,4,NaN,NaN,5,A friend told me about it.,NaN,Starting on 22nd August,NaN,NaN,15-20 hours
3,Dulce,NaN,spanish,Product Design,38,Mendoza,Argentina,Americas,Americas,Employed,...,3,NaN,NaN,4,Linkedin,NaN,Starting on 22nd August,NaN,NaN,20-25 hours
4,Evelyn,NaN,Spanish,Product Marketing,22,Tigre,Argentina,Americas,Any/No preference,Recently Graduated and Unemployed,...,NaN,NaN,NaN,4,Linkedin,"Starting on 22nd August,Starting on 15th August",NaN,NaN,NaN,20-25 hours
5,Rocco,NaN,English,"Product Growth ,Product Development",21,Buenos Aires,Argentina,Americas,Americas,University Student,...,3,4,3,NaN,LinkedIn,NaN,NaN,Starting on 3rd October,I would prefer a later cohort,10-15 hours
6,Everett,NaN,EspaÃ±ol,"Product Design,Product Marketing",34,JunÃ­n,Argentina,Americas,"Americas,Europe,Australia",Employed,...,1,NaN,NaN,NaN,Linkedin,I would prefer a later cohort,Starting on 3rd October,NaN,NaN,10-15 hours
7,Patrick,NaN,English is okay,"Product Design,Product Development",25,Yerevan,Armenia,Europe,"Asia,Europe",Currently Unemployed,...,3,1,NaN,5,on LinkedIn,NaN,"Starting on 22nd August,Starting on 5th September",Starting on 5th September,NaN,10-15 hours
8,Beau,NaN,English Russians,Product Design,24,Yerevan,Armenia,Europe,Europe,Recently Graduated and Unemployed,...,5,NaN,NaN,4,LinkedIn,NaN,Starting on 22nd August,NaN,NaN,20-25 hours
9,Valerie,NaN,french,Product Design,33,Vienna,Autriche,Europe,Europe,Currently Unemployed,...,2,NaN,NaN,2,Friend of mine give me the website,NaN,Starting on 22nd August,NaN,NaN,10-15 hours

In [11]:
df.to_csv("Dataset.csv",index=False)